* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	border: none;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: 1280px;
	margin: auto;
}

.flex-center {
	display: flex;
    align-items: center;
    justify-content: center;
}